* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html, .container {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.left-sidebar, .preview {
    width: inherit;
    float: left;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-sidebar {
    min-width: 400px;
    max-width: 400px;
    width: 400px;
}

.left-sidebar .email-list {
    padding-top: 40px;
}

.preview {
    height: 100%;
    overflow: auto;
}

.filters {
    position: fixed;
    top: 0px;
    padding: 10px;
    width: 380px;
    background-color: white;
    border-bottom: 2px dashed gray;
}

.email-small {
    padding: 10px;
    border-bottom: 1px solid black;
}

.email-small:hover {
    cursor: pointer;
}

.email-small.selected {
    background-color: lightsteelblue;
}

.email-small .head {
    justify-content: space-between;
    display: flex;
}

.email-small .head .from-name {
    font-weight: bold;
}

.email-small .head .date {
    color: blue;
}

.separator {
    padding: 10px;
    font-size: large;
    border-bottom: 1px solid black;
    background-color: #f5f5f5;
}

.preview {
    padding: 20px;
}

.preview .head {
    padding: 0 0 20px 0;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.preview .head .from-name span,
.preview .head .to-names span,
.preview .head .date span {
    font-weight: bold;
}

.preview .content {
    width: 600px;
}

.preview .subject {
    margin-bottom: 20px;
    font-size: large;
}

.preview .subject span {
    font-weight: bold;
}