body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.left-sidebar, .preview {
    display: inline-block;
    vertical-align: top;
    height: 600px;
    overflow-y: auto;
}

.left-sidebar {
    padding-top: 40px;
    width: 400px;
}

.filters {
    position: fixed;
    top: 0px;
    padding: 10px;
    width: 355px;
    background-color: white;
    border-bottom: 2px dashed gray;
}

.email-small {
    padding: 10px;
}

.email-small .head {
    justify-content: space-between;
    display: flex;
}

.email-small .head .from-name {
    font-weight: bold;
}

.email-small .head .date {
    color: blue;
}

.preview {
    padding: 20px;
}