body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.left-sidebar, .preview {
    display: inline-block;
    vertical-align: top;
    height: 600px;
    overflow-y: auto;
}

.left-sidebar {
    padding-top: 40px;
    width: 400px;
}

.filters {
    position: fixed;
    top: 0px;
    padding: 10px;
    width: 355px;
    background-color: white;
    border-bottom: 2px dashed gray;
}

.email-small {
    padding: 10px;
}

.email-small:hover {
    cursor: pointer;
}

.email-small.selected {
    background-color: lightsteelblue;
}

.email-small .head {
    justify-content: space-between;
    display: flex;
}

.email-small .head .from-name {
    font-weight: bold;
}

.email-small .head .date {
    color: blue;
}

.preview {
    padding: 20px;
}

.preview .head {
    padding: 0 0 20px 0;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.preview .head .from-name span,
.preview .head .to-names span,
.preview .head .date span {
    font-weight: bold;
}

.preview .content {
    width: 500px;
}

.preview .subject {
    margin-bottom: 20px;
    font-size: large;
}

.preview .subject span {
    font-weight: bold;
}